<template>
  <input
    class="push-button"
    type="button"
    @click="clicked()"
    :value="this.name"
    :style="bgColor"
  />
</template>
<script>
import { store } from "../js/store.js";

export default {
  name: "PushButton",
  data() {
    return {
      store,
    };
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
  },
  methods: {
    clicked() {
      this.emitter.emit("pb-clicked", {
        name: this.name
      });
      const log = {
        time_stamp: new Date().toISOString(),
        message: "Push Button [" + this.name + "] Was Clicked!",
        color: "orange",
        name: store.logs.length,
      };
      store.logs.push(log);
    },
  },
  computed: {
    bgColor() {
      return {
        '--main-bg-color': this.color,
      };
    }
  }
}
</script>
<style>
@import "../style/css/PushButton.css";
</style>
