<template>
  <div id="main">

    <div id="scene">
      <ThreeScene />
    </div>

    <!-- <Transition name="slide"> -->
    <div v-show="show_plan" id="mainplan">
      <PlanView :key="plan_key"/>
    </div>
    <div class="icon" v-show="!show_plan">
      <font-awesome-icon icon="fa-solid fa-angles-right" @click="openPlan"/>
    </div>
    <!-- </Transition> -->

    <div id="control_logs">
    <div id="titleControl">
      <router-link :to="{ name: 'controls' }" class="tablink borderLink">
        Controls
      </router-link>
      <router-link :to="{ name: 'logs' }" class="tablink borderLink">
        Logs
      </router-link>
      <div id="save" class="tooltip">
        <font-awesome-icon
          icon="fa-solid fa-save"
          style="font-size: 2.0em"
          @click="saveLogs()"
        />
        <div class="tooltiptext">save logs</div>
      </div>
    </div>
      <router-view />
    </div>
  </div>
</template>

<script>
import { store } from "./js/store.js";
import ThreeScene from "./views/ThreeScene.vue";
import PlanningInterface from "./js/PlanningInterface.js";
import PlanView from "./views/PlanView.vue";

export default {
  name: "App",
  created() {
    this.plan_iface_= new PlanningInterface(this.emitter),
    this.emitter.on("close-plan", () => {
      this.show_plan = false;
    });
    this.emitter.off("close-plan", () => {});
    this.emitter.on("render-plan", () => {
      this.plan_key +=1 ;
    });
    this.emitter.off("render-plan", () => {
      this.plan_key +=1 ;
    });
  },
  mounted() {

    let result = prompt("Please enter your id:", "000");

    const log = {
      time_stamp: new Date().toISOString(),
      message: "Operator ID: " + result,
      color: "white",
      name: store.logs.length,
    };
    store.logs.push(log);
  },
  data() {
    return {
      show_plan: false,
      store,
      plan_key: 0,
    };
  },
  methods: {
    openPlan() {
      this.show_plan = true;
    },
    saveLogs() {
      this.emitter.emit("save-logs");
    }
  },
  components: {
    PlanView,
    ThreeScene,
},
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap');
@import "./style/css/App.css";
</style>
